In [1]:
import pandas as pd 
import numpy as np
import pandas_datareader as wb
import datetime as dt

# Upload weekly prices, set index=date, drop nans

In [2]:
week_prices=pd.read_csv('weekly_sectors_prices.csv')
week_volumes=pd.read_csv('weekly_sectors_volume.csv')

In [3]:
week_prices['Date'] = pd.to_datetime(week_prices.Date)
week_prices.set_index('Date',inplace=True)

In [4]:
week_prices.dropna(inplace=True)

In [5]:
week_prices

,IYZ,XLB,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
Date,,,,,,,,,,,
2015-10-05,24.132202,38.924061,52.529449,16.685202,47.334866,38.055096,41.815647,24.272911,35.593048,61.584793,71.919304
2015-10-12,24.568020,38.871159,52.750397,16.907768,46.598850,38.504635,41.959377,24.660831,36.397732,62.772556,72.446770
2015-10-19,25.576374,39.691071,52.011292,17.331364,48.469906,40.211067,42.897816,25.005285,36.243305,62.385639,73.686745
2015-10-26,25.525103,39.920296,51.836056,17.288280,48.124073,40.045929,42.170734,24.908707,35.560539,64.194305,74.926750
2015-11-02,25.636196,39.964378,53.184727,17.754953,48.647259,40.678944,41.578922,24.103901,34.341324,64.563240,75.343170
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-13,32.219090,87.218002,53.674999,38.406002,102.055000,167.563004,74.687996,49.625000,69.463997,137.391998,194.997986
2021-12-20,32.830002,87.864723,54.198227,38.634903,103.529434,172.613449,74.737656,49.496101,69.176262,138.766724,202.886185
2021-12-27,32.910000,90.610001,55.500000,39.049999,105.809998,173.869995,77.110001,51.810001,71.580002,140.889999,204.440002
2022-01-03,32.529999,89.300003,61.340000,41.169998,106.489998,165.929993,77.419998,49.270000,70.410004,134.350006,199.479996
2022-01-10,32.549999,88.389999,61.150002,41.029999,105.290001,165.960007,76.809998,48.980000,69.949997,135.729996,198.259995

In [6]:
week_changes=week_prices.pct_change()*100

In [7]:
week_changes

,IYZ,XLB,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
Date,,,,,,,,,,,
2015-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-12,1.805959,-0.135911,0.420616,1.333916,-1.554912,1.181285,0.343723,1.598162,2.260789,1.928663,0.733413
2015-10-19,4.104336,2.109307,-1.401137,2.505330,4.015240,4.431758,2.236540,1.396765,-0.424275,-0.616379,1.711567
2015-10-26,-0.200464,0.577523,-0.336919,-0.248585,-0.713500,-0.410679,-1.694915,-0.386233,-1.883840,2.899171,1.682807
2015-11-02,0.435232,0.110427,2.601801,2.699360,1.087160,1.580722,-1.403372,-3.231022,-3.428563,0.574716,0.555769
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-13,2.149866,-0.724801,-5.013976,-1.177974,-2.762221,-4.002747,1.361365,1.748327,1.243664,2.481792,-4.731948
2021-12-20,1.896119,0.741499,0.974807,0.596003,1.444744,3.014058,0.066490,-0.259745,-0.414222,1.000586,4.045272
2021-12-27,0.243674,3.124436,2.401874,1.074407,2.202816,0.727954,3.174230,4.674914,3.474805,1.530104,0.765857
2022-01-03,-1.154667,-1.445754,10.522523,5.428935,0.642662,-4.566632,0.402020,-4.902530,-1.634532,-4.641914,-2.426143
2022-01-10,0.061483,-1.019041,-0.309747,-0.340052,-1.126864,0.018088,-0.787911,-0.588595,-0.653326,1.027160,-0.611591

In [8]:
week_changes['best_sector']=week_changes.idxmax(axis=1)
week_changes['worst_sector']=week_changes[week_changes.columns.difference(['best_sector'])].idxmin(axis=1)

In [9]:
week_changes.head()

,IYZ,XLB,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY,best_sector,worst_sector
Date,,,,,,,,,,,,,
2015-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-12,1.805959,-0.135911,0.420616,1.333916,-1.554912,1.181285,0.343723,1.598162,2.260789,1.928663,0.733413,XLU,XLI
2015-10-19,4.104336,2.109307,-1.401137,2.505330,4.015240,4.431758,2.236540,1.396765,-0.424275,-0.616379,1.711567,XLK,XLE
2015-10-26,-0.200464,0.577523,-0.336919,-0.248585,-0.713500,-0.410679,-1.694915,-0.386233,-1.883840,2.899171,1.682807,XLV,XLU
2015-11-02,0.435232,0.110427,2.601801,2.699360,1.087160,1.580722,-1.403372,-3.231022,-3.428563,0.574716,0.555769,XLF,XLU

In [10]:
week_prices.loc['2017-01-09'][week_changes.loc['2017-01-09'].best_sector]

79.38107299804688

In [11]:
week_changes.tail()

,IYZ,XLB,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY,best_sector,worst_sector
Date,,,,,,,,,,,,,
2021-12-13,2.149866,-0.724801,-5.013976,-1.177974,-2.762221,-4.002747,1.361365,1.748327,1.243664,2.481792,-4.731948,XLV,XLE
2021-12-20,1.896119,0.741499,0.974807,0.596003,1.444744,3.014058,0.066490,-0.259745,-0.414222,1.000586,4.045272,XLY,XLU
2021-12-27,0.243674,3.124436,2.401874,1.074407,2.202816,0.727954,3.174230,4.674914,3.474805,1.530104,0.765857,XLRE,IYZ
2022-01-03,-1.154667,-1.445754,10.522523,5.428935,0.642662,-4.566632,0.402020,-4.902530,-1.634532,-4.641914,-2.426143,XLE,XLRE
2022-01-10,0.061483,-1.019041,-0.309747,-0.340052,-1.126864,0.018088,-0.787911,-0.588595,-0.653326,1.027160,-0.611591,XLV,XLI

In [12]:
import pandas as pd
import numpy as np
import datetime as dt
import math
import warnings

warnings.filterwarnings("ignore")


today = dt.date(2017, 1, 2)
simend = dt.date(2022, 1, 10)
tickers = []
transactionid = 0
money = 1000000
portfolio = {}
activelog = []
transactionlog = []


def getprice(date, ticker):
    global week_prices
    try:
        price = week_prices.loc[str(date)][ticker]
        return price
    except Exception as e:
        return None


def transaction(id, ticker, amount, price, type,profit):
    global transactionid
    if type == "buy":
        exp_date = today + dt.timedelta(days=7)
        transactionid += 1
    else:
        exp_date = today
    if type == "sell":
        data = {"id": id, "ticker": ticker, "amount": amount, "price": price, "date": today, "type": type,
                "exp_date": exp_date, "profit": profit}
    elif type == "buy":
        data = {"id": transactionid, "ticker": ticker, "amount": amount, "price": price, "date": today, "type": type,
                "exp_date": exp_date, "profit": profit}
        activelog.append(data)
    transactionlog.append(data)


def buy(interestlst, allocated_money):
    global money, portfolio
    for item in interestlst:
        price = getprice(today, item)
        if not pd.isnull(price):
            quantity = math.floor(allocated_money/price)
            if money >= quantity*price:
                money -= quantity*price
                portfolio[item] += quantity
                transaction(0, item, quantity, price, "buy", 0)


def sell():
    global money, portfolio, week_prices, today
    itemstoremove = []
    for i in range(len(activelog)):
        log = activelog[i]
        if log["exp_date"] <= today and log["type"] == "buy":
            tickprice = getprice(today, log["ticker"])
            if not pd.isnull(tickprice):
                money += log["amount"]*tickprice
                portfolio[log["ticker"]] -= log["amount"]
                profit = log["amount"]*tickprice - log["amount"]*log["price"]
                transaction(log["id"], log["ticker"], log["amount"], tickprice, "sell",profit)
                itemstoremove.append(i)
            else:
                log["exp_date"] += dt.timedelta(days=1)
    itemstoremove.reverse()
    for elem in itemstoremove:
        activelog.remove(activelog[elem])


def simulation():
    global today, week_changes, money
    start_date = today - dt.timedelta(days=7)
    interestlst = []
    interestlst.append(week_changes.loc[str(today)].best_sector)
    sell()
    if len(interestlst) > 0:
        #moneyToAllocate = 500000/len(interestlst)
        moneyToAllocate = currentvalue()/(len(interestlst))
        buy(interestlst, moneyToAllocate)


def getindices():
    global tickers
    f = open(r"C:\Users\chriq\Mon Drive\2022\Financial DS\Final_project\sectors.txt", "r")
    for line in f:
        tickers.append(line.strip())
    f.close()


def tradingday():
    global week_prices, today
    return np.datetime64(today) in list(week_prices.index.values)


def currentvalue():
    global money, portfolio, today, week_prices
    value = money
    for ticker in tickers:
        tickprice = getprice(today, ticker)
        if not pd.isnull(tickprice):
            value += portfolio[ticker]*tickprice
    return int(value*100)/100


def main():
    global today
    getindices()
    for ticker in tickers:
        portfolio[ticker] = 0
    while today <= simend:
        while not tradingday():
            today += dt.timedelta(days=1)
        simulation()
        currentpvalue = currentvalue()
        print(currentpvalue, today)
        today += dt.timedelta(days=7)

    df = pd.DataFrame(transactionlog)
    df.to_csv('transactions_bestsect.csv',index=False)

main()

1000000.0 2017-01-02
995799.39 2017-01-09
995443.28 2017-01-16
991656.77 2017-01-23
977948.91 2017-01-30
983973.36 2017-02-06
1001606.24 2017-02-13
999559.75 2017-02-20
998203.53 2017-02-27
991008.0 2017-03-06
995299.64 2017-03-13
961155.21 2017-03-20
950412.06 2017-03-27
956666.16 2017-04-03
962713.82 2017-04-10
970518.72 2017-04-17
984317.27 2017-04-24
990444.63 2017-05-01
978811.8 2017-05-08
973174.74 2017-05-15
979911.8 2017-05-22
996059.76 2017-05-29
988940.86 2017-06-05
988940.86 2017-06-12
983928.75 2017-06-19
968890.02 2017-06-26
983813.8 2017-07-03
978708.09 2017-07-10
989207.65 2017-07-17
984566.96 2017-07-24
972273.15 2017-07-31
946999.52 2017-08-07
948373.85 2017-08-14
959510.55 2017-08-21
963020.78 2017-08-28
978550.49 2017-09-04
979143.37 2017-09-11
1009424.69 2017-09-18
1028651.59 2017-09-25
1022492.93 2017-10-02
1005880.65 2017-10-09
997046.49 2017-10-16
1002286.16 2017-10-23
1017510.18 2017-10-30
1032028.44 2017-11-06
1024397.2 2017-11-13
1049241.8 2017-11-20
1085968.61 2017-11-27
1102899.79 2017-12-04
1095024.88 2017-12-11
1097258.04 2017-12-18
1101679.03 2017-12-25
1079270.77 2018-01-01
1088370.44 2018-01-08
1081854.39 2018-01-15
1094531.05 2018-01-22
1038934.95 2018-01-29
1011441.31 2018-02-05
1043933.89 2018-02-12
1061181.87 2018-02-19
1051703.31 2018-02-26
1074949.38 2018-03-05
1044908.93 2018-03-12
1028089.86 2018-03-19
1037943.97 2018-03-26
1033802.63 2018-04-02
1096119.93 2018-04-09
1125129.61 2018-04-16
1133111.17 2018-04-23
1128728.65 2018-04-30
1166453.23 2018-05-07
1187431.38 2018-05-14
1133770.14 2018-05-21
1127259.92 2018-05-28
1134934.11 2018-06-04
1157544.99 2018-06-11
1152407.73 2018-06-18
1166674.2 2018-06-25
1193842.27 2018-07-02
1213135.33 2018-07-09
1224484.93 2018-07-16
1249809.39 2018-07-23
1227139.86 2018-07-30
1204821.81 2018-08-06
1240742.27 2018-08-13
1219094.55 2018-08-20
1217459.03 2018-08-27
1203197.67 2018-09-03
1207645.66 2018-09-10
1213292.61 2018-09-17
1166128.36 2018-09-24
1187990.63 2018-10-01
1123942.88 2018-10-08
1158329.23 2018-10-15
1140115.14 2018-10-22
1156774.78 2018-10-29
1178640.83 2018-11-05
1167102.48 2018-11-12
1150011.48 2018-11-19
1181466.09 2018-11-26
1116029.36 2018-12-03
1123145.06 2018-12-10
1063649.85 2018-12-17
1053148.19 2018-12-24
1084001.61 2018-12-31
1122747.46 2019-01-07
1161124.96 2019-01-14
1161124.96 2019-01-21
1195821.59 2019-01-28
1159887.58 2019-02-04
1160512.6 2019-02-11
1154194.29 2019-02-18
1155812.92 2019-02-25
1111460.95 2019-03-04
1123821.07 2019-03-11
1132548.81 2019-03-18
1145835.43 2019-03-25
1176073.24 2019-04-01
1182175.38 2019-04-08
1190887.01 2019-04-15
1178873.56 2019-04-22
1194103.69 2019-04-29
1169005.47 2019-05-06
1177980.47 2019-05-13
1181517.0 2019-05-20
1150315.63 2019-05-27
1180595.16 2019-06-03
1187572.03 2019-06-10
1197894.76 2019-06-17
1211681.46 2019-06-24
1220380.28 2019-07-01
1233693.16 2019-07-08
1201529.88 2019-07-15
1210149.02 2019-07-22
1164173.01 2019-07-29
1185120.75 2019-08-05
1190973.9 2019-08-12
1179303.43 2019-08-19
1210583.74 2019-08-26
1233592.44 2019-09-02
1239113.91 2019-09-09
1221282.04 2019-09-16
1246719.61 2019-09-23
1248068.63 2019-09-30
1263872.6 2019-10-07
1267398.45 2019-10-14
1255826.01 2019-10-21
1250762.03 2019-10-28
1254189.49 2019-11-04
1250406.7 2019-11-11
1260669.96 2019-11-18
1276449.82 2019-11-25
1270658.61 2019-12-02
1283211.96 2019-12-09
1304146.1 2019-12-16
1310058.02 2019-12-23
1312444.39 2019-12-30
1310860.38 2020-01-06
1332409.86 2020-01-13
1364341.62 2020-01-20
1376715.42 2020-01-27
1368931.91 2020-02-03
1400102.22 2020-02-10
1401773.41 2020-02-17
1229940.5 2020-02-24
1248395.83 2020-03-02
1072795.11 2020-03-09
910073.92 2020-03-16
964708.44 2020-03-23
906295.09 2020-03-30
1030253.48 2020-04-06
1001547.41 2020-04-13
996677.81 2020-04-20
1032087.67 2020-04-27
1116438.13 2020-05-04
1036118.27 2020-05-11
1027864.52 2020-05-18
1089529.4 2020-05-25
1221241.01 2020-06-01
1084519.36 2020-06-08
1115393.1 2020-06-15
1079523.94 2020-06-22
1122260.32 2020-06-29
1102107.79 2020-07-06
1106489.07 2020-07-13
1104030.3 2020-07-20
1060470.54 2020-07-27
1092255.87 2020-08-03
1127147.35 2020-08-10
1111446.26 2020-08-17
1160634.58 2020-08-24
1113142.44 2020-08-31
1124024.89 2020-09-07
1135252.96 2020-09-14
1019399.1 2020-09-21
1030622.51 2020-09-28
1044767.44 2020-10-05
1040997.02 2020-10-12
1035511.48 2020-10-19
997611.45 2020-10-26
1054198.93 2020-11-02
1050904.03 2020-11-09
1110767.96 2020-11-16
1206922.41 2020-11-23
1260272.7 2020-11-30
1275471.26 2020-12-07
1222120.97 2020-12-14
1229839.52 2020-12-21
1259071.88 2020-12-28
1251642.32 2021-01-04
1291832.59 2021-01-11
1271284.14 2021-01-18
1233960.7 2021-01-25
1273570.29 2021-02-01
1336709.31 2021-02-08
1381894.67 2021-02-15
1440844.71 2021-02-22
1584479.35 2021-03-01
1603032.1 2021-03-08
1599956.07 2021-03-15
1627068.67 2021-03-22
1621554.65 2021-03-29
1696835.09 2021-04-05
1715146.47 2021-04-12
1699070.06 2021-04-19
1720388.18 2021-04-26
1868077.43 2021-05-03
1863200.91 2021-05-10
1866091.12 2021-05-17
1906638.44 2021-05-24
1886673.27 2021-05-31
1874152.32 2021-06-07
1861964.39 2021-06-14
1903110.85 2021-06-21
1899978.86 2021-06-28
1916966.85 2021-07-05
1930328.22 2021-07-12
1914016.57 2021-07-19
1884359.15 2021-07-26
1887050.5 2021-08-02
1922937.22 2021-08-09
1863549.79 2021-08-16
1825975.9 2021-08-23
1800425.15 2021-08-30
1730965.21 2021-09-06
1742416.27 2021-09-13
1798235.74 2021-09-20
1925211.11 2021-09-27
2022830.29 2021-10-04
2050006.54 2021-10-11
2066571.8 2021-10-18
2072205.18 2021-10-25
2176354.05 2021-11-01
2099401.28 2021-11-08
2057694.4 2021-11-15
1986161.27 2021-11-22
1970438.04 2021-11-29
2021598.11 2021-12-06
1940684.14 2021-12-13
1960102.13 2021-12-20
1975113.57 2021-12-27
1878283.65 2022-01-03
1872465.9 2022-01-10

In [18]:
today = dt.date(2017, 1, 9)

In [20]:
week_changes.loc[str(today)].worst_sector

'XLRE'

In [1]:
q=simulation()

NameError: name 'simulation' is not defined

In [68]:
q